<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Misiones</title>
</head>
<body>
    <h2>Listado de Misiones</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Dificultad</th>
                <th>Jugador</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="m : ${misiones}">
                <td th:text="${m.idMision}"></td>
                <td th:text="${m.titulo}"></td>
                <td th:text="${m.dificultad}"></td>
                <td th:text="${m.idJugador.id}"></td>
                <td>
                    <a th:href="@{'/misiones/' + ${m.idMision} + '/enemigos'}">Ver Enemigos</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/}">Volver al inicio</a>
</body>
</html>
