<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nuevo Enemigo</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h2 class="section-title">Registrar Nuevo Enemigo</h2>

  <form th:action="@{/misiones/enemigos/guardar}" method="post" th:object="${enemigo}">
    <label for="nombre">Nombre:</label>
    <input type="text" th:field="*{nombre}" required />

    <label for="tipo">Tipo:</label>
    <select th:field="*{tipo}">
      <option th:each="tipo : ${T(com.gilminecraftjdbc.gildbc.model.enums.TipoEnemigo).values()}"
              th:value="${tipo}" th:text="${tipo}"></option>
    </select>

    <label for="vida">Vida:</label>
    <input type="number" th:field="*{vida}" required min="1" />

    <label for="poder">Poder:</label>
    <input type="number" th:field="*{poder}" required min="1" />

    <label for="estado">Estado:</label>
    <select th:field="*{estado}">
      <option th:each="estado : ${T(com.gilminecraftjdbc.gildbc.model.enums.EstadoEnemigo).values()}"
              th:value="${estado}" th:text="${estado}"></option>
    </select>

    <button type="submit" class="button-link">Guardar Enemigo</button>
    <a th:href="@{/enemigos}" class="cancelar">Cancelar</a>
  </form>
</body>
</html>
