<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nuevo Jugador</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h2 class="section-title">Registrar Jugador y su Misión</h2>

  <form th:action="@{/jugadores}" method="post">
    <fieldset>
      <legend>Datos del Jugador</legend>
      <label>Nombre:</label>
      <input type="text" name="nombre" required />

      <label>Nivel:</label>
      <input type="number" name="nivel" min="1" required />

      <label>Experiencia:</label>
      <input type="number" step="0.1" name="experiencia" min="0" required />

      <label>Tipo de Jugador:</label>
      <select name="tipoJugador" required>
        <option th:each="tipo : ${T(com.gilminecraftjdbc.gildbc.model.enums.TipoJugador).values()}"
                th:value="${tipo}" th:text="${tipo}">
        </option>
      </select>
    </fieldset>

    <fieldset>
      <legend>Asignar Misión</legend>
      <label>Título:</label>
      <input type="text" name="titulo" required />

      <label>Dificultad:</label>
      <select name="dificultad" required>
        <option th:each="dif : ${T(com.gilminecraftjdbc.gildbc.model.enums.Dificultad).values()}"
                th:value="${dif}" th:text="${dif}">
        </option>
      </select>

      <label>Recompensa XP:</label>
      <input type="number" name="recompensaXP" required />

      <label>Estado de Misión:</label>
      <select name="estadoMision" required>
        <option th:each="est : ${T(com.gilminecraftjdbc.gildbc.model.enums.EstadoMision).values()}"
                th:value="${est}" th:text="${est}">
        </option>
      </select>
    </fieldset>

    <button type="submit" class="button-link">Guardar Jugador y Misión</button>
    <a th:href="@{/jugadores}" class="cancelar">Cancelar</a>
  </form>
</body>
</html>
