<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nuevo Logro</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h2 class="section-title">Registrar Nuevo Logro para <span th:text="${jugador.nombre}"></span></h2>

  <form th:action="@{'/jugadores/' + ${jugador.idJugador} + '/logros/guardar'}" method="post" th:object="${logro}">
    <label for="nombre">Nombre del logro:</label>
    <input type="text" th:field="*{nombre}" required />

    <label for="tipo">Tipo:</label>
    <select th:field="*{tipo}">
      <option th:each="tipo : ${T(com.gilminecraftjdbc.gildbc.model.enums.TipoLogro).values()}"
              th:value="${tipo}" th:text="${tipo}"></option>
    </select>

    <label for="fecha">Fecha:</label>
    <input type="date" th:field="*{fecha}" required />

    <label for="puntos">Puntos:</label>
    <input type="number" th:field="*{puntos}" min="1" required />

    <button type="submit" class="button-link">Guardar Logro</button>
    <a th:href="@{'/jugadores/' + ${jugador.idJugador} + '/logros'}" class="cancelar">Cancelar</a>
  </form>
</body>
</html>
